doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Exemplo de utilização do pacote nodemailer")
    meta(name="keywords" content="email, node, nodemailer")
    title Enviando emails com o nodemailer
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/adminlte.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')

  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.bundle.min.js')
    script(src='/javascripts/adminlte.min.js')
    script(src='/javascripts/fontawesome.min.js')
    script(src='/javascripts/all.min.js')
    script.
      $(document).ready(function(){
        setTimeout(function(){
          
        }, 2000);
      });